<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ERP" connectionString="Data Source=.;Initial Catalog=XHX;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SaveFilePath" value="F:\Temp\UploadFile\"/>
    <add key="BufferSize" value="4096"/>
    <add key="Languages" value=""/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MetadataExchange" name="Service.FileTransportService">
        <endpoint address="net.tcp://localhost:7000/Service" binding="netTcpBinding" bindingConfiguration="baseBinding" name="TcpEP" contract="Service.IFileTransportService"/>
        <endpoint address="net.tcp://localhost:7000/Service/mex" binding="mexTcpBinding" bindingConfiguration="" name="MexEP" contract="IMetadataExchange"/>
      </service>
      <service name="Host.Service">
        <endpoint binding="webHttpBinding" contract="Host.IService" behaviorConfiguration="json">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8732/Mush/Host/Service/"/>
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="DataBehavior" name="Services.Services">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8090/DataService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Contracts.IDataService"/>
      </service>

    </services>
    <bindings>
      <netTcpBinding>
        <binding name="baseBinding" sendTimeout="00:01:00" transferMode="Buffered" maxBufferPoolSize="52428800" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <reliableSession ordered="false" enabled="false"/>
          <security mode="None">
            <!--<transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>-->
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataExchange">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata/>
          <serviceThrottling maxConcurrentSessions="1000"/>
        </behavior>
        <behavior name="json">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>

        <behavior name="DataBehavior">
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://127.0.0.1:8090/DataService"/>
        </behavior>

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="json">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
